@import url(nullstyle.css);

.container {
    width:940px;
    margin:0 auto;
}
.title {
    padding-top: 143px;
    color: #898f99;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4.8px;
}
.subtitle {
    color: #0ec8cb;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    padding: 44px 0 35px 0;
}
.subtitle2 {
    color: #999999;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}
.list {
    margin-top:108px;
    height:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    
}
.list__item {
    width:25%;
    height:420px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    border: 1px solid #ececec;
    background-color: #f7f7f7;
}

.name{
    padding:50px 0 33px 0;
    color: #1b1b1b;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    
}
.name2{
    padding:25px 0 30px 0;
    color: #1b1b1b;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    
}
.text {
    padding:0 31px 0 31px;
    color: #777777;
    font-family: 'PT Sans', sans-serif;
    line-height: 22px;
    text-align: center;
    
}
.list__item:hover{
    border: 1px solid #0ec8cb;
    background-color: #0ec8cb;
}
.list__item:hover svg path{
    fill:white;
}
.list__item:hover .name{
    color:white;
}
.list__item:hover .text{
    color:white;
}
